{% if linklists[linklist].links.size > 0 %}
<!-- BEGIN table.products -->
<table class="products">
{% tablerow link in linklists[linklist].links cols: 4 %}
<div>
  <a href="{{ link.url }}" title="Browse our {{ link.object.title | escape }} collection.">
    <img src="{{ link.object.products.first.featured_image | product_img_url: 'medium' }}" width="175px" alt="{{ link.object.title | escape }}" />
    <big>{{ link.title }}</big>
  </a>
</div>
{% endtablerow %}
</table>
<!-- END table.products -->
{% else %}
<p>Please {{ 'create a link list' | link_to: '/admin/links' }} that contains links to the collections you wish to feature here. The title of that link list must be <strong>{{ linklist | replace: '-', ' ' | capitalize }}</strong>.</p>
{% endif %}