{% comment %} You can change 'large' to 'grande' for larger gallery images {% endcomment %}
{% assign gallery_main_image_size = 'large' %}
<div class="gallery layout-column-half-left {% if product-detail.images.size > 1 %}has-thumbnails{% endif %}">
    <div class="main-image">
        {% if product_detail_in_block %}
        <a href="{{ product_url }}">
            {% if settings.coll_gridstream_mode contains 'grid' %}
                <img src="{{ 'blank.gif' | asset_url }}" data-src="{{ product-detail.featured_image | product_img_url: gallery_main_image_size }}" alt="{{ product-detail.featured_image.alt | escape }}"/>
            {% else %}
                <img src="{{ product-detail.featured_image | product_img_url: gallery_main_image_size }}" alt="{{ product-detail.featured_image.alt | escape }}"/>
            {% endif %}
        </a>
        {% else %}
        <a class="shows-lightbox" href="{{ product-detail.featured_image | product_img_url: 'master' }}" title="{{ product-detail.featured_image.alt | escape }}">
            <img src="{{ product-detail.featured_image | product_img_url: gallery_main_image_size }}" alt="{{ product-detail.featured_image.alt | escape }}"/>
        </a>
        {% endif %}
    </div>
    
    {% if product-detail.images.size > 1 %}
    <div class="thumbnails">
        {% if product_detail_in_block %}{{ settings.text_imgs }}{% endif %}
        
        {% for image in product-detail.images %}
            {% if product_detail_in_block %} / {% endif %}
            <a {% if forloop.first %} class="active" {% endif %} title="{{ image.alt | escape }}" href="{{ image | product_img_url: gallery_main_image_size }}" data-full-size-url="{{ image | product_img_url: 'master' }}">
            {% unless product_detail_in_block %}
                <img src="{{ image | product_img_url: 'thumb' }}" alt="{{ image.alt | escape }}"/></a>
            {% else %}
                {{ forloop.index }}</a>
            {% endunless %}
        {% endfor %}
    </div>
    {% endif %}
</div>
<div class="detail layout-column-half-right">
    {% include 'product-label' with product-detail %}
    
  <h1 class="title">
    {% if product_detail_in_block %}
    	<a href="{{ product_url }}">{{ product-detail.title }}</a>
    {% else %}
    	{{ product-detail.title }}
    {% endif %}
  </h1>
    <h2 class="h1-style price">
      {% if product-detail.variants.size == 1 and product-detail.compare_at_price_max > product-detail.price_min %}
      <span class="was-price">{{ product-detail.compare_at_price_max | money }}</span>
      {% endif %}
      {{ product-detail.price | money }}
  	</h2>
    {% if settings.prod_show_vendor %}<p>{{ settings.text_vendor }} {{ product-detail.vendor | link_to_vendor }}</p>{% endif %}
    
    <div class="product-form section">
        {% if product-detail.available %}
            <form class="form" action="/cart/add" method="post" enctype="multipart/form-data" data-product-id="{{ product-detail.id }}">
                <div class="input-row">
            		<label for="quantity">{{ settings.text_prod_qty }}</label>
            		<input id="quantity" class="select-on-focus" name="quantity" value="1" size="2" />
            	</div>
            	<div class="input-row">
            	{% if product-detail.variants.size > 1 %}
            		{% if product-detail.options.size == 1 and settings.prod_show_single_opt %}
                  	  <div class="inline-option">
            			<label for="product-select">{{ product-detail.options.first }}</label>
                    {% endif %}
                        
                      <select id="product-select-{{ product-detail.id }}" name="id">
                      {% for variant in product-detail.variants %}
                        <option value="{{ variant.id }}">{{ variant.title | escape }}</option>
                      {% endfor %}
                      </select>
                        
                    {% if product-detail.options.size == 1 and settings.prod_show_single_opt %}
                      </div>
                    {% endif %}
                {% else %}
                    <input type="hidden" name="id" value="{{ product-detail.variants.first.id }}" />
                    {% if settings.prod_show_single_var_name %}
                    <label class="singleopt">{{ product-detail.options.first }}: {{ product-detail.variants.first.title }}</label>
                    {% endif %}
            	{% endif %}
            	</div>
            	<div class="input-row">
            		<input type="submit" value="{{ settings.text_add_to }}" />
            	</div>
            </form>
        {% else %}
            <p><em>This product is unavailable</em></p>
        {% endif %}
    </div>
    
    {% if template contains 'product' and product_detail_in_block == false %}
        {% if settings.prod_desc_pos == 'beside' %}
            <div class="description user-content {% if settings.lightbox_imgs %}lightboximages{% endif %}">{{ product-detail.description }}</div>
        {% endif %}
        {% include 'social-sharing' %}
    {% else %}
  	<a class="more" href="{{ product_url }}">More Details &rarr;</a>
    {% endif %}
</div>

{% if template contains 'product' and settings.prod_desc_pos == 'below' and product_detail_in_block == false %}
    <div class="description user-content {% if settings.lightbox_imgs %}lightboximages{% endif %} padded-row">{{ product-detail.description }}</div>
{% endif %}

{% unless is_tag_related_product %}
<script>
  addProductJSON({{ product-detail | json }});
</script>
{% endunless %}