<div class="signup-form-cont">
    <div class="signup-form">
    {% if settings.footer_signup_action == empty %}
        {% form 'customer' %}
            {% if form.posted_successfully? %}
                <h4>Thank you for your interest!</h4>
                <script>window.scroll(0,1000000)</script>
            {% else %}
                    <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter"/>
                    <label for="mailinglist_email">{{ settings.text_signup }}</label>
                    <input type="email" placeholder="Email Address" class="required" value="" id="mailinglist_email" name="contact[email]" /><input class="compact" type="submit" value="→" />
                {% if form.errors %}
                    {% for field in form.errors %}
                    <p class="error">{{ field | capitalize }} - {{ form.errors.messages[field] }}</p>
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endform %}
    {% else %}
        <form action="{{ settings.footer_signup_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <label for="mce-EMAIL">{{ settings.text_signup }}</label>
            <input type="email" class="required email" placeholder="Email Address" value="" id="mce-EMAIL" required name="EMAIL" /><input class="compact" type="submit" name="subscribe" value="→" />
        </form>
    {% endif %}
    </div>
</div>