<!DOCTYPE html>
<!--[if lte IE 7 ]>   <html class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>   <html class="no-js ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<!-- Version 1.4.8 -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		
	{% if template == '404' %}
		<title>Page Not Found | {{ shop.name }}</title>
	{% else %}
		<title>{{ page_title }}</title>
	{% endif %}
		
	{% if page_description != '' %}
	<meta name="description" content="{{ page_description }}" />
	{% else %}
		{% assign maxwords = 30 %}
		{% if template contains 'product' %}
			{% capture productdesc %}{% include 'process-html-strip' with product.description %}{% endcapture %}
			<meta name="description" content="{{ productdesc | strip_html | strip_newlines | truncatewords: maxwords | escape }}" />
		{% elsif template contains 'page' %}
			{% capture page_trunc %}{% include 'process-html-strip' with page.content %}{% endcapture %}
			<meta name="description" content="{{ page_trunc | strip_html | strip_newlines | truncatewords: maxwords | escape }}" />
		{% elsif template == 'index' %}
			<meta name="description" content="{{ shop.description | escape }}" />
		{% endif %}
	{% endif %}
		
	<link rel="canonical" href="{{ canonical_url }}" />		
		
	{% comment %} upload your own favicon.ico file to the Assets section {% endcomment %}
	<link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.ico' | asset_url }}">
		
	{% comment %}
	If you want to set custom icons to use on Apple iOS devices, upload the following files, delete this text, and un-comment these link tags
	<link rel="apple-touch-icon" sizes="57x57" href="{{ 'logo_apple_57.png' | asset_url }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ 'logo_apple_72.png' | asset_url }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ 'logo_apple_114.png' | asset_url }}">
	{% endcomment %}
		
	{% include 'opengraph-tags' %}

	{% comment %} Suitcase Type Testing {% endcomment %}	
	{% comment %}<link rel='stylesheet' href='http://suitcasetype.com/wf/test/css/tabac-slab-light.css' type='text/css' />
	<link rel='stylesheet' href='http://suitcasetype.com/wf/test/css/tabac-slab-regular.css' type='text/css' />{% endcomment %}
		
	{% comment %} Typekit & Google Fonts {% endcomment %}
	{% for i in (1..5) %}
		{% capture font_setting_index %}{% cycle 'font_group': 'font_fam_base', 'font_fam_headings', 'font_fam_shoptitle', 'font_fam_nav', 'font_fam_special' %}{% endcapture %}
		{% capture font_setting_cust_index %}{{ font_setting_index }}_cust{% endcapture %}
		{% capture font_setting_typekit_index %}{{ font_setting_index }}_typekit{% endcapture %}
		{% assign font_family_split = settings[font_setting_index] | split: '|' %}
		{% assign curr_font_family = settings[font_setting_index] %}
		{% if settings.typekit_id.size > 0 %}
			<script type="text/javascript" src="//use.typekit.net/{{ settings.typekit_id }}.js"></script>
			<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		{% endif %}
		{% if settings[font_setting_index] == 'GWF|CUSTOM' %}
			<link href="//fonts.googleapis.com/css?family={{ settings[font_setting_cust_index] | replace: ' ', '+' }}" rel="stylesheet" type="text/css">
		{% elsif font_family_split.first == 'GWF' %}
			<link href="//fonts.googleapis.com/css?family={{ font_family_split.last | replace: ' ', '+' }}" rel="stylesheet" type="text/css">
		{% endif %}
	{% endfor %}
	
	{% comment %} Platform Webfont {% endcomment %}
	{{ "Platform-Web.css"  | asset_url | stylesheet_tag }}
		
	{{ 'jquery.fancybox-1.3.4.css' | asset_url | stylesheet_tag }}
	{{ 'styles.css' | asset_url | stylesheet_tag }}
		
	{% if template contains 'customers' %}
		{{ "shopify_common.js" | shopify_asset_url | script_tag }}
		{{ "customer_area.js"  | shopify_asset_url | script_tag }}
	{% endif %}
		
	{{ 'option_selection.js' | shopify_asset_url | script_tag }}
	{{ '//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js' | script_tag }}
	{{ 'jquery.imagesloaded.js' | asset_url | script_tag }}
	{{ 'jquery.flexslider-min.js' | asset_url | script_tag }}
	{{ 'jquery.fancybox-1.3.4.pack.js' | asset_url | script_tag }}
	
	<script>
		Shopify.money_format = '{{shop.money_format | replace: "'", '"'}}';
	</script>
	{{ 'main.js' | asset_url | script_tag }}

	{% comment %} THESE STYLES NEED TO BE IN A TEMPLATE {% endcomment %}
	<style type="text/css">
		{% if settings.slide_txt_bg_show %}
		{% assign hex2rgb_hex = settings.slide_txt_bg_col %}{% include 'hex2rgb' %}
			.slideshow .slide .overlay-text .text span {
			background: rgba({{ hex2rgb_r }}, {{ hex2rgb_g }}, {{ hex2rgb_b }}, {{ settings.slide_txt_bg_op }});
			}
		{% endif %}
		
		{% if settings.slide_txt_bg_show %}
		{% assign hex2rgb_hex = settings.slide_txt_bg_col %}{% include 'hex2rgb' %}
			.slide.full-width-image .overlay-text .text span {
			background: rgba({{ hex2rgb_r }}, {{ hex2rgb_g }}, {{ hex2rgb_b }}, {{ settings.slide_txt_bg_op }});
			}
		{% endif %}
	</style>

	{{ content_for_header }}
</head>

<body class="template-{{ template | split: '.' | first }}">
	<div id="pageheader">
		<div class="logo-area logo-pos-{{ settings.logo_pos }} cf">
			{% capture logo_html %}
			<div class="logo container">
				<a href="/" title="{{ shop.name }}">
				{% if settings.use_logo_img %}
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 164 76"><style>.aofl-logo{fill:#000000;}</style><path d="M2 32.99L8.172 2.226h2.314l6.261 30.764h-1.859l-1.588-8.031H5.358L3.771 32.99H2z M5.63 23.416h7.351L9.305 5.04H9.26 L5.63 23.416z M19.062 32.99V2.226h10.3c8.667 0 15.3 6.4 15.3 15.427c0 9.076-6.489 15.337-15.291 15.337H19.062z M29.226 31.402c7.986 0 13.566-5.808 13.566-13.749c0-7.941-5.58-13.839-13.566-13.839h-8.305v27.588H29.226z M59.22 2.2 L53.184 32.99h-2.131L44.927 2.226h1.861l5.354 27.498h0.045L57.45 2.226H59.22z M61.534 2.226H72.56v1.543h-9.165v12.797h6.67 v1.543h-6.67v13.34h9.165v1.542H61.534V2.226z M77.144 6.264V32.99h-1.678V2.226h2.042l8.801 25.955V2.226h1.635V32.99h-1.816 L77.144 6.264z M90.395 2.226h12.387v1.543h-5.265V32.99h-1.859V3.769h-5.263V2.226z M118.029 2.226v23.913 c0 4.083-1.678 7.079-6.398 7.079c-4.809 0-6.489-2.996-6.489-7.079V2.226h1.861v24.049c0 3 1.1 5.4 4.6 5.4 c3.449 0 4.629-2.359 4.629-5.399V2.226H118.029z M121.161 2.226h5.718c4.083 0 6 2 6 5.444v4.901 c0 2.451-0.952 4.175-3.404 4.765c2.723 0.4 4 2 4 4.991v8.303c0 0.7 0.3 1 0.9 0.952h0.226v1.407h-0.862 c-1.452 0-2.088-0.681-2.088-2.178V22.19c0-2.54-1.271-3.902-4.13-3.902h-4.447V32.99h-1.859V2.226z M123.02 3.769v12.978h3.675 c2.859 0 4.265-1.362 4.265-3.949V7.716c0-2.585-1.407-3.947-4.265-3.947H123.02z M136.678 2.226h11.026v1.543h-9.165v12.797h6.67 v1.543h-6.67v13.34h9.165v1.542h-11.026V2.226z M149.386 27.182v-4.946h1.769v4.946c0 2.8 1.5 4.5 4.6 4.5 c2.995 0 4.401-1.95 4.401-4.446v-1.724c0-2.495-0.952-3.902-3.357-6.217l-3.132-3.04c-2.812-2.768-4.173-4.356-4.173-7.441V7.58 c0-3.447 2.314-5.58 5.989-5.58c4.084 0 6.1 1.9 6.1 5.763v3.583h-1.769V7.67c0-2.859-1.452-4.128-4.311-4.128 c-2.495 0-4.22 1.407-4.22 4.037v1.18c0 2.4 1.3 3.8 3.5 5.944l3.13 3.04c2.723 2.7 4 4.4 4 7.624v1.769 c0 3.404-1.952 6.081-6.217 6.081C151.472 33.2 149.4 30.8 149.4 27.182z M33.888 43.4 c8.803 0 15.6 7 15.6 15.791c0 8.803-6.806 15.746-15.608 15.746c-8.805 0-15.61-6.943-15.61-15.746 C18.278 50.4 25.1 43.4 33.9 43.378z M33.888 73.282c7.848 0 13.702-6.172 13.702-14.113 c0-7.941-5.853-14.201-13.702-14.201c-7.85 0-13.704 6.261-13.704 14.201C20.184 67.1 26 73.3 33.9 73.282z M51.947 43.7 h10.664v1.543h-8.803v12.797h6.67v1.543h-6.67v14.882h-1.861V43.742z M77.314 43.742h1.859v29.221h8.167v1.542H77.314V43.742z M89.699 43.742h1.861v30.764h-1.861V43.742z M94.01 43.742h12.387v1.543h-5.263v29.221h-1.859V45.285H94.01V43.742z M107.806 43.742h12.387v1.543h-5.263v29.221h-1.861V45.285h-5.263V43.742z M122.6 43.742h1.859v29.221h8.169v1.542H122.6V43.742z M134.987 43.742h11.026v1.543h-9.165v12.797h6.67v1.543h-6.67v13.34h9.165v1.542h-11.026V43.742z" class="aofl-logo"/></svg>
					{% comment %} <img class="logoimage" src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}" /> {% endcomment %}
				{% else %}
					<span class="logotext">{{ shop.name }}</span>
				{% endif %}
				</a>
			</div><!-- /#logo -->
			{% endcapture %}
						
			{% unless settings.logo_pos == 'below' %}{{ logo_html }}{% endunless %}
						
				<div class="util-area">
					<div class="search-box elegant-input">
					{% if settings.header_signup_show %}
						<div class="signup-reveal-area">
							<a class="signup-reveal" href="#">Signup</a>
					{% if settings.header_signup_show %}{% include 'signup-form' %}{% endif %}
						</div>
					{% endif %}
									
						<form class="search-form" action="/search" method="get">
							<i></i>
								<input type="text" name="q" placeholder="{{ settings.text_search }}"/>
								<input type="submit" value="&rarr;" />
						</form>
					</div>
								
					<div class="utils">
					{% if settings.soc_icons_loc == 'head' %}
						{% include 'social-icons' %}
					{% elsif settings.soc_icons_loc == 'both' %}
						{% include 'social-icons' %}
					{% endif %}
									
						<div class="cart-summary">
							<a href="/{% if template != 'cart' %}cart{% else %}checkout{% endif %}" class="cart-count {% if settings.use_btn_style_cart_link %}button{% endif %}">
								{{ settings.text_cart }} ({{ cart.item_count }})
							</a>
											
							{% include 'currencies-switcher' %}
						</div>
					</div><!-- /.utils -->
				</div><!-- /.util-area -->
						
			{% if settings.logo_pos == 'below' %}{{ logo_html }}{% endif %}
						
		</div><!-- /.logo-area -->
	</div><!-- /#pageheader -->
		
	{% capture extra_navigation_items %}
	{% if shop.customer_accounts_enabled %}
		<ul>
			<li class="account-links">
			{% if customer %}
				<span class="your-acct"><a href="/account">Your account</a></span>
				<span class="slash">/</span>
				<span class="logout">{{ 'Logout' | customer_logout_link }}</span>
			{% else %}
			{% if settings.nav_show_reg %}
				<span class="register">{{ 'Register' | customer_register_link }}</span> <span class="slash">/</span>
			{% endif %}
				<span class="login">{{ 'Login' | customer_login_link }}</span>
			{% endif %}
			</li>
		</ul>
	{% endif %}
	{% endcapture %}
		
	<div id="main-nav" class="nav-row">
		{% include 'main-navigation' with 'main-menu' %}
	</div><!-- /#main-nav -->
		
	<div id="content">
		{% unless settings.head_not_count == empty %}
			{% if settings.head_not_home_only == false or template == 'index' %}
			<div id="store-messages" class="messages-{{ settings.head_not_count.last }}">
				<div class="container cf">
					{% for i in (1..3) %}
						{% capture iterstr %}{{ i }}{% endcapture %}
						{% if settings.head_not_count contains iterstr %}
							{% assign line_1_idx = 'head_not_' | append: i | append: '_1' %}
							{% assign line_2_idx = 'head_not_' | append: i | append: '_2' %}
							{% assign msg_url_idx = 'head_not_' | append: i | append: '_url' %}
							{% assign msg_url = settings[msg_url_idx] %}
							<div class="message message-{{i}}">
								{% unless msg_url == empty %}<a href="{{ msg_url }}">{% endunless %}
								<h6 class="title">{{ settings[line_1_idx] }}</h6>
								<span class="tagline">{{ settings[line_2_idx] }}</span>
								{% unless msg_url == empty %}</a>{% endunless %}
								{% unless forloop.first %}<div class="fluff"></div>{% endunless %}
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div><!-- /#store-messages -->
			{% endif %}
		{% endunless %}		
				
		{% if template == 'index' or template contains 'collection' or template contains 'product' or template contains 'blog' or template contains 'article' or template contains 'page' %}
			{% if template == 'list-collections' %}
				{% include 'collection-listing' %}
			{% else %}
				{{ content_for_layout }}
			{% endif %}
			
		{% else %}
			<div class="container cf">
				{{ content_for_layout }}
			</div><!-- /.container -->
		{% endif %}
	</div><!-- /#content -->
		
	{% include 'footer' %}
	{% include 'currencies' %}
	{% if social_items_on_page %}
		{% if settings.social_show_tw %}<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>{% endif %}
		{% if settings.social_show_go %}<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>{% endif %}
		{% if settings.social_show_pi and template == 'product' %}<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>{% endif %}
		{% if settings.social_show_fa and template == 'product' %}<script src="https://www.thefancy.com/fancyit.js" type="text/javascript"></script>{% endif %}
		{% if settings.social_show_fb %}
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&status=0";
				fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>
		{% endif %}
	{% endif %}
	
</body>
</html>